<!DOCTYPE html>
<html>
<head>
    <title>Final Project: Final Submission</title>
    <script src="../libs/three.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <!--// load the maze related scripts-->
    <!--// based on: http://felipecsl.com/random-maze-generator/-->
    <script src="../libs/maze/array.js"></script>
    <script src="../libs/maze/cell.js"></script>
    <script src="../libs/maze/graph.js"></script>
    <script src="../libs/maze/maze.js"></script>
    <script src="../libs/maze/mazeGenerator.js"></script>
    <script src="../libs/maze/underscore-min.js"></script>
    <script src="../libs/tween.js"></script>
    <script src="../libs/TrackballControls.js"></script>
    <script src="../js/app.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        body {
            /* set margin to 0 and overflow to hidden, to go fullscreen */
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
<div id="panel" class="collapsed">
    <h1>Final Project: Final Submission</h1>
    <button id="forward" type="submit">Move Forward</button><br/>
    <button id="backward" type="submit">Move backward</button><br/>
    <button id="left" type="submit">Move left</button><br/>
    <button id="right" type="submit">Move right</button><br/>
</div>
</body>
</html>